.boton-toggle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #ccc;
  background-color: transparent;
  position: absolute;
  color: #fff;
  top: 2%;
  left: 2%;
  z-index: 9;
}
.menuToggle {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 1);
  z-index: 99;
}
