.logoSkill {
  height: 100px;
  width: 100px;
  object-fit: contain;
}
.logoSkill:hover {
  scale: 1.4;
  transition: 0.2s;
}
.skillsIconos {
  width: 50%;
}
.contenedorSkills {
  background-color: #141414;
  height: 100vh;
}
.contenedorSkills h2 {
  font-family: "Shadows Into Light", cursive;
  font-size: 50px;
}
@media screen and (max-width: 768px) {
  .logoSkill {
    height: 70px;
    width: 70px;
    margin: 10px;
  }
  .skillsIconos {
    flex-wrap: wrap;
  }
}
