.infoHome {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.links-social a {
  text-decoration: none;
  color: #fff;
  font-family: "Roboto", cursive;
  font-size: 20px;
}
.links-social a:hover {
  border-bottom: 1px solid #ccc;
  transition: 0.2s;
}
.contenedorSobreMi {
  padding: 32px 0px;
  width: 60%;
}
.nombreHome {
  font-family: "Shadows Into Light", cursive;
  font-size: 60px;
  text-align: center;
}
.Typewriter {
  min-height: 100px !important;
}
.Typewriter__cursor {
  display: none;
}
.infoHome p {
  font-family: "Roboto", cursive;
  font-size: 20px;
  text-align: center;
  width: 80%;
}
@media screen and (max-width: 1200px) {
  .nombreHome {
    font-size: 40px;
  }
  .infoHome p {
    font-family: "Roboto", cursive;
    font-size: 14px;
  }
  .links-social a {
    font-size: 15px;
  }
}
@media screen and (max-width: 768px) {
  .nombreHome {
    font-size: 30px;
    text-align: center;
  }
}
