.fotoPerfil {
  width: 250px;
  height: 250px;
  width: fit-content;
  border-radius: 50%;
  border: 5px solid #ccc;
  filter: grayscale(0.9);
}
.infoSobreMi {
  width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.links-social a {
  text-decoration: none;
  color: #fff;
  font-family: "Roboto", cursive;
  font-size: 20px;
}
.links-social a:hover {
  scale: 1.2;
  transition: 0.2s;
}
.contenedorSobreMi {
  padding: 32px 0px;
  width: 70%;
}
.nombreHome {
  font-family: "Shadows Into Light", cursive;
  font-size: 50px;
  padding-bottom: 10px;
}
.infoHome p {
  font-family: "Roboto", cursive;
  font-size: 25px;
}
@media screen and (max-width: 1200px) {
  .fotoPerfil {
    width: 150px;
    height: 150px;
  }
  .infoHome p {
    font-family: "Roboto", cursive;
    font-size: 18px;
  }
  .links-social a {
    font-size: 15px;
  }
}
@media screen and (max-width: 768px) {
  .fotoPerfil {
    display: none;
  }
}
