.tituloContact {
  font-size: 52px;
  font-family: "Shadows Into Light", cursive;
}
.inputContacto {
  border: 1px solid #ccc;
  height: 40px;
  border-radius: 5px;
  padding-left: 5px;
  width: 400px;
}
.botonEnviarForm {
  width: 100px;
  height: 40px;
  border-radius: 10px;
  background-color: #000;
  border: none;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  color: #fff;
}
.textarea-input {
  resize: none;
  height: 80px;
}
form label {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
}
