@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");
/* font-family: 'Shadows Into Light', cursive; */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.container1 {
  max-width: 100%;
  margin: 0 auto;
  height: 100vh;
  padding: 0;
}
.layoutHeight {
  background-color: #141414;
  color: #fff;
  height: 100vh;
}
.layoutHeight2 {
  background-color: #fff;
  height: 100vh;
  color: #000;
}
@media screen and (max-width: 768px) {
  .layoutHeight {
    width: 100% !important;
  }
}
