.foto-challenge-1{
    width: 500px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
}
.boton-repo{
    width: 100px;
    height: 50px;
    border-radius: 10px;
    text-decoration: none;
    margin-right: 10px;
}
.boton-demo{
    width: 100px;
    height: 50px;
    border-radius: 10px;
    text-decoration: none;
}
.descripcion-challenge{
    margin: 40px 0;
}