.fotoChallenge {
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  object-fit: contain;
  width: 100%;
  height: auto;
}
.cardProyecto {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}
.proyectos-container {
  overflow-x: auto;
}
@media screen and (max-width: 768px) {
  .fotoChallenge {
    height: 100px;
    width: auto;
  }
}
